.matchup {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr max-content 1fr;
	grid-template-areas: 'home middle away';
	grid-gap: 0.25rem;
	align-items: center;
	justify-content: stretch;
}

.home {
	grid-area: home;
	text-align: right;
	justify-self: flex-end;
}

.middle {
	grid-area: middle;
	align-self: flex-end;
	text-align: center;
}

.away {
	grid-area: away;
}

.vs {
	font-size: 1.25rem;
	font-weight: 500;
	text-transform: lowercase;
	display: block;
	width: 100%;
}
