.table {
	border-collapse: collapse;
	width: 100%;
	font-size: 0.8rem;
}

.sr {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.r {
	text-align: right;
}

.table .th,
.table .td {
	padding: 0.25rem;
	text-align: left;
	vertical-align: middle;
}
