.grid {
	margin: 0;
	padding: 0;
	display: grid;
	width: 100%;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas: 'left right' 'bottom bottom';
	grid-gap: 1rem;
	align-items: stretch;
}

.left {
	grid-area: left;
}

.right {
	grid-area: right;
}

.bottom {
	grid-area: bottom;
}
